<div class="middle jumbotron">
  <h1>Welcome to Skaxis</h1>
  <h2>Upload and share anything with other people on Skaxis!</h2>
  <h3>Log in or press the button below to get started.</h3>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-success" %>
</div>
  
